* {
    padding: 0;
    margin: 0;
    font-family: 'roboto', serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background: rgb(180, 148, 178);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

header {
    justify-content: flex-start;
    margin-bottom: 40px;
}

.search-container {
    margin-bottom: 40px;
}

.search-container input {
    border-radius: 30px;
    border: none;
    width: 300px;
    height: 20px;
    padding: 15px;
    font-size: 14px;
}

.container {
    left: 50;
    top: 50;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 80vw;
    gap: 30px;
}

.container .courseblock {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    height: 180px;
    border-radius: 30px;
}

.container .courseblock .coursetitle {
    text-decoration: underline;
    text-underline-offset: 8px;
}


.container .courseblock a {

    text-decoration: none;
    font-weight: bold;
    color: rgb(87, 7, 90);
    text-align: center;
    font-size: 18px;
    line-height: 2;
    /* sets space between lines*/
}

.container .courseblock a:visited {
    text-decoration: none;
    font-weight: bold;
    color: rgb(87, 7, 90);
    text-align: center;
    font-size: 18px;

}